---
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<link
  rel="icon"
  type="image/png"
  sizes="32x32"
  href="/icons/faviconx32.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="16x16"
  href="/icons/faviconx16.png"
/>
<meta name="generator" content={Astro.generator} />
<link rel="sitemap" href="/sitemap-index.xml" />
<meta name="description" content={description}>
<title>{title}</title>

<!-- Open Graph -->
<meta property="og:locale" content="es_CO">
<meta property="og:site_name" content="Brandon Corpas">
<meta property="og:type" content="website" />
<meta property="og:url" content="https://brandoncorpas.com/" />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content="https://brandoncorpas.com/og.png" />
<meta property="og:image:alt" content="Brandon Corpas - Full-Stack Web Developer. Imagen con fondo degradado oscuro y texto profesional al centro que presenta el nombre del desarrollador y su rol tecnológico." />
